<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
  
    <form action="/prove02/submit" method="POST">
        <p>Book</p>
        <input type="text" name="title" id="title">
        <p>Summary</p>
        <textarea name="summary" id="summary" cols="30" rows="10"></textarea>
        </br>
        <button type="submit">Submit</button>
    </form>



</body>
</html>
